@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

/* header */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 440px;
  list-style-type: none;
}


.navigation-user {
  max-width: 306px; /* размер с +1 иконкой*/
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.navigation-user-link {
  padding: 24px 12px;
  display: block;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-user-item:last-child {
  padding-left: 20px;
}

.index-link {
  margin: 0 30px 0 0;
  display: block;
}

.navigation-link {
 font-size: 20px;
 line-height: 26px;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
 display: block;
 padding: 20px 17px;
 margin: 0;
}

.title-logo {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
}

.button-brown {
  background-color: #756257;
}

.want {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding: 9px 15px;
  border-radius: 4px;
}

/* main */

.description, .lead, .subscribe, .subscribe-catalog {
  margin: 0 auto;
  width: 720px;
  text-align: center;
}

.description {
  padding-top: 63px;
  padding-bottom: 79px;
}

.index-description {
 font-weight: bold;
 font-size: 30px;
 line-height: 36px;
 text-transform: uppercase;
 margin: 0 auto 23px auto;
 padding-top: 4px;
 padding-bottom: 4px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  display: block;
  margin: 51px auto 82px auto;
}

.introduction-reasons {
  font-size: 22px;
  line-height: 36px;
  margin: 0 auto;
}


.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.reason-1 {
  display: flex;
  flex-wrap: wrap;
}

.reason-2 {
  display: flex;
  flex-direction: row-reverse;

}


.subreason {
  margin: 0;
  padding: 0;
}

.subreason:not(.subreason-6, .subreason-2) {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.subreason-1, .subreason-7 {
  padding-top: 97px;
  padding-bottom: 97px;
}

.subreason-8, .subreason-9, .subreason-10 {
  padding-top: 107px;
  padding-bottom: 107px;
}

.subreason-3, .subreason-4, .subreason-5 {
  padding-top: 84px;
  padding-bottom: 84px;
}

.reason-icon {
  min-width: 64px;
  min-height: 76px;
  margin-bottom: 23px;
}

.reason-title, .subreason-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  width: 170px; /* подбор ширины под корректный перенос*/
}

.subreason-7> .reason-title {
  width: 172px; /* подбор ширины под корректный перенос*/
}

.reason-number {
  margin: 0 0 25px 0;
  width: 250px
}

.reason-text {
  margin: 0;
  width: 250px;
}

.subreason-1>.reason-text, .reason-number {
  width: 220px;
}

.subreason-6>.reason-text, .reason-number {
  width: 220px;
}

.subreason-1, .subreason-7 {
 color: #FFFFFF;
 background-color: #83B3D3;
}

.subreason-2, subreason-6 {
  display: block;
}

.subreason-3, .subreason-5, .subreason-8, .subreason-10 {
  background-color: rgba(131, 179, 211, 0.12);
}

.subreason-9 {
  background-color: rgba(131, 179, 211, 0.2);
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-hotel {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 14px;
}

.search-lead {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  white-space: pre;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 9px;
  margin-bottom: 0;
}

.subscribe-index {
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index-title {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 15px;
}

.subscribe-index-offer {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 26px auto;
  padding-bottom: 20px;
  width: 500px;
}

.button-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  font-weight: bold;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
  width: 200px;
  padding: 17px
}

/* footer */

.contacts-container {
  display: flex;
}

.footer-social {
  margin-left: 72px;
  width: 160px; /* +1 иконка */
}

.footer-social-list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 54px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-item {
  min-width: 20px;
  min-height: 18px;
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.html-academy {
  margin-right: 72px;
  width: 155px;
  padding-top: 42px;
  padding-bottom: 44px;
}

.dev {
  display: block;
  margin-left: auto;
  width: 115px;
}

.academy {
  display: block;
  margin-left: auto;
}

.footer-contacts {
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 720px;
  text-align: center;
}

.contacts-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color:black;
  text-decoration: none;
}

/* CATALOG */

.main-container {
  display: flex;
  flex-direction: column;
}

.catalog-filters {
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  margin-left: 71px;
}

.breadcrumbs {
  font-size: 16px;
  margin-left: 73px;
}

.catalog-filter {
  display: flex;
}

.infrastructure-group {
  width: 150px;
  margin-left: 71px;
}

.type-of-housing-group {
  width: 144px;
  margin-left: 68px;
}

.catalog-filter-buttons {
  margin-right: 72px;
  margin-left: auto;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

.control-input, .type-of-housing {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto;
}

.hotel-cards {
  width: 1058px;
  margin: 0 auto;
}

.number-of-hotels {
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
}

.price-select {
  width: 287px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.type-of-housing, .type-of-price {
  font-size: 18px;
  line-height: 23px;
}

.raiting {
  font-size: 16px;
  line-height: 21px;
}

.pagination-link {
  font-size: 20px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  font-size: 20px;
  background-color: #F2F2F2;
  color: #000000;
  text-decoration: none;
}

.subscribe-title-catalog {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-offer-catalog {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}
