@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

/* Pages */

/* header */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  max-width: 440px;
}

.navigation-user {
  max-width: 306px; /* размер с +1 иконкой*/
  margin-left: auto;
}

.index-link {
  margin-right: 30px;
}

.navigation-link {
 font-size: 20px;
 line-height: 26px;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
}

.title-logo {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* main */

.description, .lead, .subscribe, .subscribe-catalog {
  margin: 0 auto;
  width: 720px;
  text-align: center;
}

.index-description {
 font-weight: bold;
 font-size: 30px;
 line-height: 36px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.introduction-reasons {
  font-size: 22px;
  line-height: 36px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.reason-1 {
  display: flex;
  flex-wrap: wrap;
}

.reason-2 {
  display: flex;
  flex-direction: row;
}

.subreason:not(.subreason-6, .subreason-2) {
  width: 400px;
}

.subreason {
  margin: 0;
  padding: 0;
}

.reason-title, .subreason-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.subreason-1, .subreason-7 {
 color: #FFFFFF;
 background-color: #83B3D3;
}

.subreason-2, subreason-6 {
  display: block;
}

.subreason-3, .subreason-5, .subreason-8, .subreason-10 {
  background-color: rgba(131, 179, 211, 0.12);
}

.subreason-9 {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  font-size: 30px;
  line-height: 36px;
}

.search-lead {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-container {
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* footer */

.subscribe-title {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-offer {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}

.contacts-container {
  display: flex;
}

.footer-social {
  margin-left: 72px;
  width: 160px; /* +1 иконка */
}

.html-academy {
  margin-right: 72px;
  width: 155px;
}

.footer-contacts {
  margin: 0 auto;
  width: 720px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:black;
  text-decoration: none;
}

/* CATALOG */

.main-container {
  display: flex;
  flex-direction: column;
}

.catalog-filters {
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  margin-left: 71px;
}

.breadcrumbs {
  font-size: 16px;
  margin-left: 73px;
}

.catalog-filter {
  display: flex;
}

.infrastructure-group {
  width: 150px;
  margin-left: 71px;
}

.type-of-housing-group {
  width: 144px;
  margin-left: 68px;
}

.catalog-filter-buttons {
  margin-right: 72px;
  margin-left: auto;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

.control-input, .type-of-housing {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto;
}

.hotel-cards {
  width: 1058px;
  margin: 0 auto;
}

.number-of-hotels {
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
}

.price-select {
  width: 287px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.type-of-housing, .type-of-price {
  font-size: 18px;
  line-height: 23px;
}

.raiting {
  font-size: 16px;
  line-height: 21px;
}

.pagination-link {
  font-size: 20px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  font-size: 20px;
  background-color: #F2F2F2;
  color: #000000;
  text-decoration: none;
}

.subscribe-title-catalog {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-offer-catalog {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}
